/* 


	tapelab.rc (emx+gcc) 
	Tape Label Editor Version 0.09

	1995 1996 Giovanni Iachello
	This is freeware software. You can use or modify it as you wish,
	provided that the part of code that I wrote remains freeware.
	Freeware means that the source code must be available on request 
	to anyone.
	You must also include this notice in all files derived from this
	file.


*/
#include <os2.h>
#include "pmstdres.h"
#include "tapelab.h"

ICON ID_TAPELAB tapelab2.ico

ASSOCTABLE ID_TAPELAB
BEGIN
	"Tape Lab data file", ".TL", EAF_DEFAULTOWNER | EAF_UNCHANGEABLE, tapelab1.ico
END


MENU ID_TAPELAB
BEGIN
	SUBMENU "~File", PMIDM_FILE
	BEGIN
		MENUITEM "~New...", PMIDM_FILENEW
		MENUITEM "~Open...", PMIDM_FILEOPEN
		MENUITEM SEPARATOR
		MENUITEM "~Save...\tF2", PMIDM_FILESAVE
		MENUITEM "Save ~as...", PMIDM_FILESAVEAS
		MENUITEM "~Print...\tF4", PMIDM_FILEPRINT  
		MENUITEM SEPARATOR
		MENUITEM "~Exit\tF3", PMIDM_FILEEXIT
	END

	SUBMENU "~Composition", IDM_COMP
	BEGIN
		MENUITEM "~Title...\tF5", IDM_TITLE
		MENUITEM "~Text...\tF6", IDM_TEXT 
		MENUITEM "~Information...", IDM_INFO 
		MENUITEM SEPARATOR        
		MENUITEM "~Size...", IDM_SIZE
		MENUITEM "~Formatting...", IDM_FORM
		MENUITEM "Sa~ve Settings...", IDM_SAVE
	END

	SUBMENU "Fo~nts", IDM_FONTS
	BEGIN
		MENUITEM "Title side A...", IDM_FON_TIA 
		MENUITEM "Title side B...", IDM_FON_TIB
		MENUITEM SEPARATOR
		MENUITEM "Text side ~A...", IDM_FON_TXA
		MENUITEM "Text side ~B...", IDM_FON_TXB 
		MENUITEM SEPARATOR
		MENUITEM "~Date...", IDM_FON_DATE
		MENUITEM "~Source...", IDM_FON_SOURCE
		MENUITEM "~Noise Reduction...", IDM_FON_NR
	END

	SUBMENU "~Help", PMIDM_HELP
	BEGIN
		MENUITEM "Help ~index...\tF11", PMIDM_HELPINDEX
		MENUITEM "~General help...", PMIDM_HELPGENERAL
		MENUITEM "~Using help...", PMIDM_HELPUSING
		MENUITEM "~Keys help...", PMIDM_HELPKEYS
		MENUITEM SEPARATOR        
		MENUITEM "~Product information...", PMIDM_HELPABOUT
	END
END

ACCELTABLE ID_TAPELAB
BEGIN
	VK_F3,    PMIDM_FILEEXIT,        VIRTUALKEY
	VK_F2,    PMIDM_FILESAVE,        VIRTUALKEY
	VK_F6,    IDM_TEXT,             VIRTUALKEY
	VK_F5,    IDM_TITLE,             VIRTUALKEY
	VK_F4,    PMIDM_FILEPRINT,     VIRTUALKEY
	VK_F11, PMIDM_HELPINDEX,     VIRTUALKEY
END

HELPTABLE ID_TAPELAB
{
	HELPITEM ID_TAPELAB,         HLP_SUB_TAPELAB,     HLP_EXT_TAPELAB
	HELPITEM DLG_SIZE,             HLP_SUB_SIZE,         HLP_EXT_SIZE
	HELPITEM DLG_TITLE,         HLP_SUB_TITLE,         HLP_EXT_TITLE
	HELPITEM PMDLG_ABOUT,         HLP_SUB_ABOUT,         PMHLP_DLG_ABOUT
	HELPITEM DLG_TEXT,             HLP_SUB_TEXT,         HLP_EXT_TEXT
	HELPITEM DLG_INFO,             HLP_SUB_INFO,         HLP_EXT_INFO
	HELPITEM DLG_FORMAT,        HLP_SUB_FORMAT,        HLP_EXT_FORMAT
}

HELPSUBTABLE HLP_SUB_ABOUT
{
	HELPSUBITEM DID_CANCEL , DID_CANCEL
}

HELPSUBTABLE HLP_SUB_TEXT
{
	HELPSUBITEM DID_CANCEL , DID_CANCEL
}


HELPSUBTABLE HLP_SUB_INFO
{
	HELPSUBITEM DID_CANCEL , DID_CANCEL
}

HELPSUBTABLE HLP_SUB_SIZE
{
	HELPSUBITEM DID_CANCEL , DID_CANCEL
}

HELPSUBTABLE HLP_SUB_TITLE
{
	HELPSUBITEM DID_CANCEL , DID_CANCEL
}

HELPSUBTABLE HLP_SUB_FORMAT
{
	HELPSUBITEM DID_CANCEL , DID_CANCEL
}

HELPSUBTABLE HLP_SUB_TAPELAB
{
	HELPSUBITEM IDM_COMP , HLP_COMP
	HELPSUBITEM IDM_SIZE , HLP_SIZE
	HELPSUBITEM IDM_TITLE , HLP_TITLE
	HELPSUBITEM IDM_TEXT , HLP_TEXT
	HELPSUBITEM IDM_INFO , HLP_INFO
	HELPSUBITEM IDM_FORM , HLP_FORM

	HELPSUBITEM IDM_FONTS , HLP_FONTS
	HELPSUBITEM IDM_FON_TIA , HLP_FON_TIA
	HELPSUBITEM IDM_FON_TIB , HLP_FON_TIB
	HELPSUBITEM IDM_FON_TXA , HLP_FON_TXA
	HELPSUBITEM IDM_FON_TXB , HLP_FON_TXB
	HELPSUBITEM IDM_FON_DATE , HLP_FON_DATE
	HELPSUBITEM IDM_FON_SOURCE , HLP_FON_SOURCE
	HELPSUBITEM IDM_FON_NR , HLP_FON_NR
	
	HELPSUBITEM PMIDM_FILE , PMHLP_FILE
	HELPSUBITEM PMIDM_FILENEW , PMHLP_FILENEW
	HELPSUBITEM PMIDM_FILEOPEN , PMHLP_FILEOPEN
	HELPSUBITEM PMIDM_FILESAVE , PMHLP_FILESAVE
	HELPSUBITEM PMIDM_FILESAVEAS , PMHLP_FILESAVEAS
	HELPSUBITEM PMIDM_FILEPRINT , PMHLP_FILEPRINT
	HELPSUBITEM PMIDM_FILEEXIT , PMHLP_FILEEXIT

	HELPSUBITEM PMIDM_HELP , PMHLP_HELP
	HELPSUBITEM PMIDM_HELPINDEX , PMHLP_HELPINDEX
	HELPSUBITEM PMIDM_HELPGENERAL , PMHLP_HELPGENERAL
	HELPSUBITEM PMIDM_HELPUSING , PMHLP_HELPUSING
	HELPSUBITEM PMIDM_HELPKEYS , PMHLP_HELPKEYS
	HELPSUBITEM PMIDM_HELPABOUT , PMHLP_HELPABOUT

}

DLGTEMPLATE PMDLG_ABOUT 
{
	DIALOG "About Tape Lab", PMDLG_ABOUT, 22, 24, 225, 104, 
		WS_VISIBLE, FCF_SYSMENU | FCF_TITLEBAR
	{
		DEFPUSHBUTTON "~OK", DID_OK,                       41, 8, 51, 14
		PRESPARAMS PP_FONTNAMESIZE "10.Helv"         
		PUSHBUTTON "~Help", DID_HELP,                   133, 8, 51, 14, BS_HELP | BS_NOPOINTERFOCUS | WS_VISIBLE
		PRESPARAMS PP_FONTNAMESIZE "10.Helv"         

		CONTROL "Written by Giovanni Iachello", -1,        14, 52, 190, 12, WC_STATIC, SS_TEXT | DT_CENTER | DT_TOP | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
		PRESPARAMS PP_FONTNAMESIZE "10.Helv"   

		CONTROL "Copyright (c) 1995.", -1,                 12, 40, 196, 10, WC_STATIC, SS_TEXT | DT_CENTER | DT_TOP | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
		PRESPARAMS PP_FONTNAMESIZE "10.Helv"   

		CONTROL "This Source Code is Freeware", -1, 12, 27, 196, 10, WC_STATIC, SS_TEXT | DT_CENTER | DT_TOP | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
		PRESPARAMS PP_FONTNAMESIZE "10.Helv"   

		CONTROL "Tape Lab V0.08", -1,                       40, 79, 144, 10, WC_STATIC, SS_TEXT | DT_CENTER | DT_TOP | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
		PRESPARAMS PP_FONTNAMESIZE "12.Helv"   
		ICON ID_TAPELAB, -1,                               16, 75, 0  ,  0
	}
}

DLGTEMPLATE DLG_TITLE
{
	DIALOG  "Tape Title", DLG_TITLE, 112, 59, 300, 80,
	   WS_VISIBLE, FCF_SYSMENU | FCF_TITLEBAR
	{
		LTEXT "Title Side A", -1, 10, 66, 130, 10, DT_WORDBREAK
		ENTRYFIELD "", DTITLE_EF_T1, 12, 58, 276, 8, ES_MARGIN
		LTEXT "Title Side B", -1, 10, 40, 130, 10, DT_WORDBREAK
		ENTRYFIELD "", DTITLE_EF_T2, 12, 30, 276, 8, ES_MARGIN
		DEFPUSHBUTTON "~Ok", DID_OK, 10, 10, 44, 13
		PUSHBUTTON "~Cancel", DID_CANCEL, 130, 10, 44, 13
		PUSHBUTTON "~Help", DID_HELP,  70, 10, 44, 13, BS_HELP | BS_NOPOINTERFOCUS | WS_VISIBLE
	}
}

/*
 * Resource file created by dlgedit version 0.0
 * Giovanni Iachello 1995
 * D:\emx\tapelab\tapelabelsize.DLG compiled on Thu Aug 03 16:22:00 1995
 */
DLGTEMPLATE DLG_SIZE 
{
	DIALOG "Tape Label Size", DLG_SIZE , 310, 10, 280, 120,
		WS_VISIBLE, FCF_TITLEBAR | FCF_SYSMENU | FCF_DLGBORDER 
	{
		SPINBUTTON DSIZE_SB_FLAPS, 150, 94, 61, 13, WS_VISIBLE | WS_TABSTOP | SPBS_READONLY | SPBS_NUMERICONLY | SPBS_MASTER 
		LTEXT "Flaps Number", -1, 150, 106, 61, 11, WS_VISIBLE | SS_TEXT 
		LTEXT "Label Size", -1, 6, 106, 63, 11, WS_VISIBLE | SS_TEXT 
		GROUPBOX "", -1, 6, 23, 136, 86, WS_VISIBLE | SS_GROUPBOX 
		PUSHBUTTON "~OK", DID_OK, 13, 4, 44, 14, WS_VISIBLE | WS_TABSTOP |  BS_PUSHBUTTON 
		PUSHBUTTON "~Cancel", DID_CANCEL, 163, 4, 44, 14, WS_VISIBLE | WS_TABSTOP | BS_PUSHBUTTON 
		PUSHBUTTON "~Help", DID_HELP,  88, 4, 44, 14, BS_HELP | BS_NOPOINTERFOCUS | WS_VISIBLE
		AUTORADIOBUTTON "Normal (101x155mm)", DSIZE_RB_NORMAL, 12, 90, 126, 11, WS_VISIBLE | WS_TABSTOP | WS_GROUP
		AUTORADIOBUTTON "TDK Reduced (101x87mm)", DSIZE_RB_TDK, 12, 73, 126, 11, WS_VISIBLE 
		AUTORADIOBUTTON "Sony Reduced (102x74mm)", DSIZE_RB_SONY, 12, 56, 126, 11, WS_VISIBLE 
		AUTORADIOBUTTON "Custom ", DSIZE_RB_CUSTOM, 12, 39, 126, 11, WS_VISIBLE 

		LTEXT "Widht", -1, 150, 78, 61, 11, WS_VISIBLE | SS_TEXT 
		LTEXT "Flap 1 Size", -1, 150, 64, 61, 11, WS_VISIBLE | SS_TEXT 
		LTEXT "Flap 2 Size", -1, 150, 50, 61, 11, WS_VISIBLE | SS_TEXT 
		LTEXT "Flap 3 Size", -1, 150, 36, 61, 11, WS_VISIBLE | SS_TEXT 
		LTEXT "Flap 4 Size", -1, 150, 22, 61, 11, WS_VISIBLE | SS_TEXT 
		ENTRYFIELD "", DSIZE_EF_WIDTH, 210, 80, 60, 9, WS_VISIBLE | ES_MARGIN
		ENTRYFIELD "", DSIZE_EF_FLAP1, 210, 66, 60, 9, WS_VISIBLE | ES_MARGIN
		ENTRYFIELD "", DSIZE_EF_FLAP2, 210, 52, 60, 9, WS_VISIBLE | ES_MARGIN
		ENTRYFIELD "", DSIZE_EF_FLAP3, 210, 38, 60, 9, WS_VISIBLE | ES_MARGIN
		ENTRYFIELD "", DSIZE_EF_FLAP4, 210, 24, 60, 9, WS_VISIBLE | ES_MARGIN
	}
}


DLGTEMPLATE DLG_TEXT
{
   DIALOG  "Tape Label Text", DLG_TEXT, 310, 10, 314, 184,
	   WS_VISIBLE, FCF_SYSMENU | FCF_TITLEBAR
   {
		LTEXT "Text Side A", -1,        12, 170, 100, 10, DT_WORDBREAK
		MLE "", DTEXT_MLE_T1,           12, 30, 140, 140, WS_VISIBLE | MLS_HSCROLL | MLS_VSCROLL

		LTEXT "Text Side B", -1,        162, 170, 100, 10, DT_WORDBREAK
		MLE "", DTEXT_MLE_T2,           162, 30, 140, 140, WS_VISIBLE | MLS_HSCROLL | MLS_VSCROLL

		DEFPUSHBUTTON "~Ok", DID_OK, 20, 10, 40, 13
		PUSHBUTTON "~Cancel", DID_CANCEL, 250, 10, 40, 13
		PUSHBUTTON "~Help", DID_HELP,  135, 10, 40, 13, BS_HELP | BS_NOPOINTERFOCUS | WS_VISIBLE
   }
}

DLGTEMPLATE DLG_INFO 
{
	DIALOG "Tape Label Information", DLG_INFO , 310, 10, 224, 180,
		WS_VISIBLE, FCF_TITLEBAR | FCF_SYSMENU | FCF_DLGBORDER 
	{
		LTEXT "Side A", -1,             6, 164, 61, 11, WS_VISIBLE | SS_TEXT 
		LTEXT "Date", -1,              10, 144, 40, 12, WS_VISIBLE | SS_TEXT 
		ENTRYFIELD "", DINFO_EF_DATE1, 60, 146, 60, 10, WS_VISIBLE | ES_MARGIN
		PUSHBUTTON "Current", DINFO_PB_CURRDATE1, 130, 146, 40, 12        
		AUTOCHECKBOX "", DINFO_CB_BASE0, 180, 146, 12, 12

		LTEXT "NR", -1,                10, 124, 40, 12, WS_VISIBLE | SS_TEXT 
		SPINBUTTON DINFO_SB_NR1,       60, 126, 60, 14, WS_VISIBLE | WS_TABSTOP | SPBS_READONLY | SPBS_NUMERICONLY | SPBS_MASTER 
		AUTOCHECKBOX "", DINFO_CB_BASE2, 180, 126, 12, 12

		LTEXT "Source", -1,            10, 104, 40, 12, WS_VISIBLE | SS_TEXT 
		SPINBUTTON DINFO_SB_SOURCE1,   60, 106, 60, 14, WS_VISIBLE | WS_TABSTOP | SPBS_READONLY | SPBS_NUMERICONLY | SPBS_MASTER 
		AUTOCHECKBOX "", DINFO_CB_BASE4, 180, 106, 12, 12
		GROUPBOX "", -1,                6, 103, 212, 66, WS_VISIBLE | SS_GROUPBOX 

		LTEXT "Side B", -1,             6, 84, 61, 11, WS_VISIBLE | SS_TEXT 
		LTEXT "Date", -1,              10, 64, 40, 12, WS_VISIBLE | SS_TEXT 
		ENTRYFIELD "", DINFO_EF_DATE2, 60, 66, 60, 10, WS_VISIBLE | ES_MARGIN
		PUSHBUTTON "Current", DINFO_PB_CURRDATE2, 130, 66, 40, 12        
		AUTOCHECKBOX "", DINFO_CB_BASE1, 180, 66, 12, 12

		LTEXT "NR", -1,                10, 44, 40, 12, WS_VISIBLE | SS_TEXT 
		SPINBUTTON DINFO_SB_NR2,       60, 46, 60, 14, WS_VISIBLE | WS_TABSTOP | SPBS_READONLY | SPBS_NUMERICONLY | SPBS_MASTER 
		AUTOCHECKBOX "", DINFO_CB_BASE3,          180, 46, 12, 12

		LTEXT "Source", -1,            10, 24, 40, 12, WS_VISIBLE | SS_TEXT 
		SPINBUTTON DINFO_SB_SOURCE2,   60, 26, 60, 14, WS_VISIBLE | WS_TABSTOP | SPBS_READONLY | SPBS_NUMERICONLY | SPBS_MASTER 
		AUTOCHECKBOX "", DINFO_CB_BASE5, 180, 26, 12, 12
		GROUPBOX "", -1,                6, 23, 212, 66, WS_VISIBLE | SS_GROUPBOX 

		PUSHBUTTON "~OK", DID_OK, 13, 4, 44, 14, WS_VISIBLE | WS_TABSTOP |  BS_PUSHBUTTON 
		PUSHBUTTON "~Cancel", DID_CANCEL, 163, 4, 44, 14, WS_VISIBLE | WS_TABSTOP | BS_PUSHBUTTON 
		PUSHBUTTON "~Help", DID_HELP,  88, 4, 44, 14, BS_HELP | BS_NOPOINTERFOCUS | WS_VISIBLE
	}
}

/*
 * Resource file created by dlgedit version 0.0
 * Giovanni Iachello 1995
 * D:\EMX\tapelab\formatting.DLG compiled on Thu Nov 16 16:34:20 1995
 */
DLGTEMPLATE DLG_FORMAT 
{
	DIALOG "Formatting Parameters", DLG_FORMAT , 310, 10, 200, 154,
		WS_VISIBLE, FCF_TITLEBAR | FCF_SYSMENU | FCF_DLGBORDER 
	{
		LTEXT "Tab Size", -1,             112, 140, 72, 8, WS_VISIBLE | SS_TEXT 
		ENTRYFIELD "", DFORM_EF_TABSIZE, 116, 130, 64, 8, WS_VISIBLE | ES_MARGIN | WS_TABSTOP
		LTEXT "Title Left Margin", -1,     8, 140, 74, 8, WS_VISIBLE | SS_TEXT 
		ENTRYFIELD "", DFORM_EF_TITLM,     10, 130, 64, 8, WS_VISIBLE | ES_MARGIN | WS_TABSTOP
		LTEXT "Text Top Margin", -1,     110, 114, 74, 8, WS_VISIBLE | SS_TEXT 
		LTEXT "Side B", -1,                 122, 84, 42, 8, WS_VISIBLE | SS_TEXT 
		LTEXT "Side A", -1,                 24, 84, 40, 8, WS_VISIBLE | SS_TEXT 
		LTEXT "Text Left Margin", -1,     10, 114, 80, 8, WS_VISIBLE | SS_TEXT 
		ENTRYFIELD "", DFORM_EF_TLM,     10, 102, 64, 8, WS_VISIBLE | ES_MARGIN     | WS_TABSTOP
		ENTRYFIELD "", DFORM_EF_TTM,     116, 102, 64, 8, WS_VISIBLE | ES_MARGIN | WS_TABSTOP
		GROUPBOX "", -1,                 5, 96, 183, 32, WS_VISIBLE | SS_GROUPBOX 
		LTEXT "Text Horizontal Spaceing", -1, 10, 69, 108, 8, WS_VISIBLE | SS_TEXT 
		ENTRYFIELD "", DFORM_EF_THSB,     116, 57, 64, 8, WS_VISIBLE | ES_MARGIN | WS_TABSTOP
		ENTRYFIELD "", DFORM_EF_THSA,     10, 57, 64, 8, WS_VISIBLE | ES_MARGIN  | WS_TABSTOP
		GROUPBOX "", -1,                 5, 52, 183, 32, WS_VISIBLE | SS_GROUPBOX 
		LTEXT "Text Vertical Spaceing", -1, 10, 38, 100, 8, WS_VISIBLE | SS_TEXT 
		ENTRYFIELD "", DFORM_EF_TVSA,     10, 26, 64, 8, WS_VISIBLE | ES_MARGIN | WS_TABSTOP
		GROUPBOX "", -1,                 5, 20, 183, 32, WS_VISIBLE | SS_GROUPBOX 
		ENTRYFIELD "", DFORM_EF_TVSB,     116, 26, 64, 8, WS_VISIBLE | ES_MARGIN | WS_TABSTOP

		PUSHBUTTON "~Cancel", DID_CANCEL, 140, 4, 44, 14, WS_VISIBLE | BS_PUSHBUTTON | WS_TABSTOP
		PUSHBUTTON "~OK", DID_OK, 12, 4, 44, 14, WS_VISIBLE | BS_PUSHBUTTON | WS_TABSTOP
		PUSHBUTTON "~Help", DID_HELP,  78, 4, 44, 14, BS_HELP | BS_NOPOINTERFOCUS | WS_VISIBLE
	}
}

